<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
</head>
<body>
    <h2>All Products</h2>

    <table border="1" cellpadding="5" cellspacing="0">
        <tr>
            <th>Product Code</th>
            <th>Order Name</th>
            <!-- <th>Model</th> -->
            <th>Manufacturing Date</th>
            <th>Is Sold</th>
            <th>Sold Date</th>
            <th>Source Location</th>
            <th>Warranty Period (Months)</th>
            <th>Warranty Expired?</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product.product_code }}</td>
            <td>{{ product.order_name }}</td>
            <!-- <td>{{ product.product_model.model_name }}</td> -->
            <td>{{ product.manufecturing_Date }}</td>
            <td>{{ product.is_sold }}</td>
            <td>{{ product.sold_date }}</td>
            <td>{{ product.source_location }}</td>
            <td>{{ product.warranty_period }}</td>
            <td>{{ product.is_warranty_expired }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="9">No products found.</td></tr>
        {% endfor %}
    </table>

</body>
</html>




